.gamePage {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    .list-droppable {
        flex: 1;
        background-color: #ececec;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 16px;

        background-color: #ececec;

        h2 {
            font-size: 2rem;
        }

        overflow-y: scroll;
        overflow-x: visible;
    }

    .board-droppable {
        flex: 4;
        background-size: 40px 40px;
        background-image: linear-gradient(
                to right,
                #ececec 1px,
                transparent 1px
            ),
            linear-gradient(to bottom, #ececec 1px, transparent 1px);
    }

    .draggable-item {
        display: flex;
        align-items: center;
    }
}
