.gamePage {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    .list-droppable {
        z-index: 10;
        flex: 1;
        background-color: #efefef;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 16px;

        h2 {
            font-size: 2rem;
        }

        overflow-y: scroll;
        overflow-x: visible;
        height: calc(100% - 120px);
    }

    .board-container {
        flex: 4;
        z-index: 1;

        .board-droppable {
            height: 100%;
            z-index: 1;
            background-size: 40px 40px;
            background-image: linear-gradient(
                    to right,
                    #ececec 1px,
                    transparent 1px
                ),
                linear-gradient(to bottom, #ececec 1px, transparent 1px);
        }
    }

    .draggable-item {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .playerZone {
        position: absolute;
        bottom: 0;
        height: 120px;
        width: 21.35%;
        background-color: #1976d2;
        padding: 12px;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
    }
}
