@import "../../assets/styles/fonts.scss";

.homePage {
    .topPart {
        display: flex;
        gap: 16px;
        margin-bottom: 24px;
    }

    .steps {
        background: linear-gradient(
            to bottom,
            rgba(100, 167, 234, 1),
            rgba(100, 167, 234, 0.9)
        );
        padding: 80px;
        height: 500px;
        color: white;
        font-family: "RobotoMedium";
        border-radius: 25px;

        .playerNumber {
            display: flex;
            flex-direction: column;
            gap: 8px;
            .description {
                width: 500px;
            }
            .bottomPart {
                margin-top: 60px;
            }
        }
        .playerName {
        }
        .startGame {
        }
    }
}
